
<!DOCTYPE html>
<html>
<head>
  <titlle>Form</title>

</head>
<body>
  <div id="container">
    <h1>form </h1>
    <form  method='post' action="/mail"><br/>
      <input type="text" name='name' value=""/><br/>
      <input type="email" name='email' value=""/><br/>
      <input type="password" name='password' value=""/><br/>
      <input type="submit" value="summit"/>
    </form>
  </div>

</body>
</html>
